<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="~/js/jquery.js"></script>
    <script src="https://balkan.app/js/orgchart.js"></script>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            overflow: hidden;
            font-family: Helvetica;
        }

        #tree {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <div id="tree"></div>

    <script type="text/javascript">
        var chart = new OrgChart(document.getElementById("tree"), {
                nodeMouseClick: OrgChart.action.edit,

                nodeBinding: {
                    field_0: "FullName",
                    field_1: "Title",
                    img_0: "Image"
                }
        });

        chart.editUI.on('imageuploaded', function (sender, args) {
            var formData = new FormData();
            formData.append('file', file);           

            $.ajax({
                type: "POST",
                url: "@Url.Action("UploadImage")",
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (data) {
                    input.value = data.url;
                },
                error: function (error) {
                    alert(error);
                }
            });
        });

        
        chart.on('update', function (sender, oldNodeData, newNodeData) {
            $.post("@Url.Action("UpdateNode")", { id: newNodeData.id, nodeJson: JSON.stringify(newNodeData) })
                .done(function () {
                    console.log('updtaed on the server');
                });
        });

        $.getJSON("@Url.Action("Read")", function (data) {
            chart.load(data.nodes);
        });
    </script>
</body>
</html>

